img.altern{
  
    padding: 60px 10px 100px 10px;
    background: url("resources/puntina.png") center top 20px no-repeat, #FFF;
    background-size: 50px, auto;
    width:100%;
    
    
}

img#polaroid{
    display: inline;
    position: absolute;
    overflow: hidden;
    z-index: 0;
}
img.nav-item{
    width:250px;
    height:100%;
}
nav{
    height:10%;
    width:100%;
    background:white;
}

input#search{
    margin-left: 20%;
    margin-right:10%;
    margin-top:1%;
    width:25%;
    border:solid 1px rgb(0, 153, 0);
    border-radius: 20px;
}
button#prev{
    margin-left:0%;
    float:left;
    border-radius: 100%;
    box-shadow:0;
    margin-left:80%;
    margin-top:200%;
    
}
button#next{
    border-radius:100%;
    box-shadow: 0;
    
}
div.col{
    padding:0;
}
footer{
    background: white;
    width:100%;
    margin-top:90%;

}
footer > div > div> img{
    width:50px;
    height:50px;
}
body{
    background-image: url("resources/bacheca.jpg");
}

input#signup{
    margin-left:2%;
    
}
span {
    position: absolute;
    left:32%;
    bottom: 0;
    font-size: 72px ;
    font-family: 'Times New Roman', Times, serif;
}
hr{
    display: block;
  margin-left: 10px;
  margin-right: 10px;
  border: 2.5px solid green;
  border-radius:5px;
}
h1{
    text-align: center;
}
img.shared{
    margin-left:10px;
    margin-top:10px;
    padding: 60px 10px 100px 10px;
    background: url("resources/puntina.png") center top 20px no-repeat, #FFF;
    background-size: 50px, auto;
    display: inline-block;
    max-width: 720px;
    max-height: 480px;
}
input.frm{
    width:80%;
    margin-left: 2%;
}
form{
    margin-left:25%;
    margin-top:10%;
    background-color: white;
    padding:150px;
    border-radius:5px;
}
input#submit{
    float:right;
}
div.carousel-slide{
    display: flex;
    width:100%;
    overflow:hidden;
    height:500px;
}
