img.altern{
    width:100%;
    max-height:720px;
    /*: url("resources/puntina.png") center top 20px no-repeat, #FFF;*/
    
  
    
    
}

img#polaroid{
    display: inline;
    position: absolute;
    overflow: hidden;
    z-index: 0;
}
nav > img{
    width:100px;
    height:45px;
}
nav.navbar{
    height: 10%;
    width:100%;
    background:white;
}

div.col{
    padding:0;
}
footer{
    background: white;
    width:100%;
    margin-top:90%;

}
footer > div > div> img{
    width:50px;
    height:50px;
}
body{
    background-image: url("resources/bacheca.jpg");
}

input#signup{
    margin-left:2%;
    
}

hr{
    display: block;
  margin-left: 10px;
  margin-right: 10px;
  border: 2.5px solid green;
  border-radius:5px;
}
h1{
    text-align: center;
}
img.shared{
    margin-left:5%;
    margin-top:5%;
    border: none;
    padding: 60px 10px 100px 10px;
    background: url("resources/puntina.png") center top 20px no-repeat, #FFF;
    background-size: 50px, auto;
    display: inline-block;
    max-width: 500px;
    max-height: 380px;
    
   
}
input.frm{
    width:80%;
    margin-left: 10%;
    margin-right: 10%;
}
form.form{
    margin-left:25%;
    margin-right: 25%;
    margin-top:10%;
    background-color: white;
    padding:150px;
    border-radius:5px;
}
input#submit{
    float:right;
    margin-left: 10%;
}

small{
    margin-left: 10%;
}
div.postit{
    margin-top: 5%;
    padding: 20px;
    background-color: rgb(255,255,165);
}
a.carousel-control-next, a.carousel-control-prev{
    width:100px;
}
button#login{
    margin-left: 37%;
}
@media only screen and (max-width:600px){
    img.shared{
        margin-right:10%;
    }

}



