img.altern{
  
    padding: 60px 10px 100px 10px;
    background: url("resources/puntina.png") center top 20px no-repeat, #FFF;
    background-size: 50px, auto;
    width:100%;
    
    
}

img#polaroid{
    display: inline;
    position: absolute;
    overflow: hidden;
    z-index: 0;
}
img.nav-item{
    width:250px;
    height:100%;
}
nav{
    height:10%;
    width:100%;
    background:white;
}

input#search{
    margin-left: 20%;
    margin-right:10%;
    margin-top:1%;
    width:25%;
    border:solid 1px rgb(0, 153, 0);
    border-radius: 20px;
}
button#prev{
    margin-left:0%;
    float:left;
    border-radius: 100%;
    box-shadow:0;
   
    
    
}
button#next{
    border-radius:100%;
    box-shadow: 0;
    
}
div.col{
    padding:0;
}
footer{
    background: white;
    width:100%;
    margin-top:90%;

}
footer > div > div> img{
    width:50px;
    height:50px;
}
body{
    background-image: url("resources/bacheca.jpg");
}

input#signup{
    margin-left:2%;
    
}
span {
    position: absolute;
    left:32%;
    bottom: 0;
    font-size: 72px ;
    font-family: 'Times New Roman', Times, serif;
}
hr{
    display: block;
  margin-left: 10px;
  margin-right: 10px;
  border: 2.5px solid green;
  border-radius:5px;
}
h1{
    text-align: center;
}
img.shared{
    margin-left:5%;
    margin-top:5%;
    border: none;
    padding: 60px 10px 100px 10px;
    background: url("resources/puntina.png") center top 20px no-repeat, #FFF;
    background-size: 50px, auto;
    display: inline-block;
<<<<<<< HEAD
    max-width: 500px;
    max-height: 380px;
=======
    width: auto;
    height: 400px;
   
>>>>>>> 283aa88bbd13fc7815c3d20c45059e9648bff116
}
input.frm{
    width:80%;
    margin-left: 10%;
    margin-right: 10%;
}
form{
    margin-left:25%;
    margin-right: 25%;
    margin-top:10%;
    background-color: white;
    padding:150px;
    border-radius:5px;
}
input#submit{
    float:right;
    margin-left: 10%;
}

small{
    margin-left: 10%;
}
div.postit{
    background-color: rgb(255,255,165);
}


